
<div  class="container" >
  <div id="header" class="row">
    <div class="col-sm-2">
      <span  style="margin-right:10px">My Task Tracker</span>
    </div>
    <div class="col-sm-9">
      <app-cart></app-cart>
    </div>
    <div class="col-sm-1">
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">vinod sahu
        <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">My Order</a></li>
          <li><a href="#">Logout</a></li>
         
        </ul>
      </div>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
