<div class="d-flex justify-content-between border-bottom m-5">
        <h3>My Task Manager</h3>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-outline-primary " data-toggle="modal" data-target="#addTaskModal" (click)="resetForm()" >New Task</button>
    </div>

<div class="row">
    <app-task-list></app-task-list>
</div>
    


<!-- Modal for add task-->
<div id="addTaskModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
        <h4 class="modal-title">New Task</h4>
      </div>
      <div class="modal-body">
            <!--form of task-->
            <div class="row m-3 ">
                    <form [formGroup]="this.taskService.form" (ngSubmit)="onSubmit()" >
                        <input type="hidden" formControlName="$key">
                        <div class="form-group">
                            <label >Title</label>
                            <input type="text" formControlName="title" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.title.errors }" >
                            <div class="invalid-feedback" *ngIf="submitted && formControls.title.errors" >
                                Title is Required
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Description</label>
                            <textarea  formControlName="description" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.description.errors }" ></textarea>
                            <div class="invalid-feedback" *ngIf="submitted && formControls.description.errors" >
                                Description is Required
                            </div>
                        </div>
                        <div class="form-group">
                            <label >Select Priority</label>
                            <select formControlName="priority" class="form-control" [ngClass]="{'is-invalid':submitted && formControls.priority.errors }" >
                                <option value='high'>High</option>
                                <option value='medium' >Medium</option>
                                <option value='low'>Low</option>
                            </select>
                            <div class="invalid-feedback" *ngIf="submitted && formControls.priority.errors" >
                                Please Select an option
                            </div>
                        </div>
                                              
                        <div class="form-group">
                            <input type="submit"  class="btn btn-primary"  value="Save">
                        </div>
                    </form>
                    <div class="alert alert-info " *ngIf="showSucessMessage" >
                        Task Saved !
                    </div>
                </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>