
<div id="header" class="class-flex">
  <span style="margin-right:10px">My Task Tracker</span>
  <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">vinod sahu
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="#">My Order</a></li>
        <li><a href="#">Logout</a></li>
       
      </ul>
    </div>
</div>
<div class="container" >                               
<div class="dropdown" style="margin-top: 10px">
  <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">--Select Category--
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">all Categories</a></li>
    <li><a href="#">Bread</a></li>
    <li><a href="#">Dairy</a></li>
    <li><a href="#">Fruits</a></li>
    <li><a href="#">Seasoning and Spices</a></li>
    <li><a href="#">Vegetables</a></li>
  </ul>
</div>
</div>