<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>MyWebApp</display-name>
  <servlet>
    <servlet-name>addStudent</servlet-name>
    <servlet-class>com.metacube.servlet.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addStudent</servlet-name>
    <url-pattern>/addStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showStudentServlet</servlet-name>
    <servlet-class>com.metacube.servlet.ShowStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showStudentServlet</servlet-name>
    <url-pattern>/showStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchStudent</servlet-name>
    <servlet-class>com.metacube.servlet.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchStudent</servlet-name>
    <url-pattern>/searchStudent</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>EditStudentServlet</servlet-name>
    <servlet-class>com.metacube.servlet.EditStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStudentServlet</servlet-name>
    <url-pattern>/EditStudentServlet</url-pattern>
  </servlet-mapping>
</web-app>