#dropdown {
    margin-top: 10px;
    margin-left: 30px
}



.class-flex{
    margin-top: 40px ;
    
    display: flex;
    justify-content: space-around;
    }
 #header{
    margin-right: 10px;
   
        margin-top: 40px;
       border-bottom: 1px solid grey;
    }
    
  